*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.macrocontain{
     background-color: black;
     display: flex;
     height: calc(100vh - 100px);
}

/* aside */
#full-logo{
    display: none;
}


aside{
    display: flex;
    background-color: black;
    z-index: 1;
}

.bar-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}




.bar-top{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
}

.bar-bot{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

/* playlist / display none*/

.playlist{
    margin-top: 20px;
    color: white;
    display: none;
}

.playlist li{
    list-style-type: none;
    margin: 10px;
}


/* colors and settings icons*/
#small-logo{
    filter: invert(1);
    
}

.aside-icon{
    font-size: 15px;
}

.fa-house{
    color: white;
}

.fa-magnifying-glass{
    color: white;
}


.bar-topset ul li span{
    color: white;
    white-space: nowrap;
    padding: 0 5px;
    display: none;
}

.bar-top li{
    padding: 5px;
    margin-top: 10px;
    display: flex;
}

.fa-bars{
    color: white;
}


.fa-circle-down{
    color: white;
}

.fa-user{
    border: 1px solid rgba(128, 128, 128, 0.301);
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 10px;
    padding: 3px;
    color: white;
    margin-top: 10px;
}

.fa-plus{
    background-color: gray;
}


.bar-bot span{
    color: white;
    display: none;
}

/* header/upgrade */


.container{
 width: 100%;
 display: flex;
 flex-direction: column;
}

header{
    color: white;
    background-color: rgba(51, 50, 50, 0.479);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
}

header:hover{
    border: 1px solid black;
}

.upgrade-container{
    padding: 20px;
}

.upgrade-container span{
     border: 1px solid white;
     border-radius: 20px;
     padding: 10px;
}







main{
    overflow-y: auto;
    padding-top: 80px;
}

/* menunav */

.menu-nav {
    color: gray;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-nav a{
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.bot-nav{
    margin-top: 3px;
}

.menu-nav a:hover{
    border-bottom: 1px solid greenyellow;
}







/* main/cards */
.cards-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cards{
    width: calc(100% / 2);
    padding: 5px;
}

.cards img{
    width: 100%;
}

.cards img:hover{
    background-color: rgba(48, 47, 47, 0.404);
}

.title{
    color: white;
    text-align: center ;
}

.subtitle{
    color: gray;
    text-align: center;
}

/* footer/player */

footer{
    
    height: 100px;
    background-color: rgb(59, 58, 58);
    display: flex;
    width: 100%;
}

.player-left{
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.player-left img{
    width: 50px;
    padding: 5px;
}

.player-text{
    color: white;
    font-size: 12px;
}

.gray{
    color: gray;
}


.ico-left{
    color: white;
}


.player-mid{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.ico-top{
    color: white;
    padding: 10px;
}

.ico-top i{
    margin: 2px;
}

.ico-bot{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}

.repbar{
    border: 3px solid gray;
    display: flex;
    border-radius: 15px;
    width: 90px;
    margin: 5px;
}

.player-right{
    display: flex;
    
}

.player-right i{
    padding: 5px;
}

.ico-right{
    color: white;
    display: flex;
    align-items: center;

}

.fa-volume-high{
    font-size: 15px;
}

.repbarright{
    background-color: gray;
    border-radius: 15px;
    width: 50px;
    height: 5px;
    display:none;
}

/* ANCHOR HOVER */
 .fa-heart:hover{
     color: rgba(31, 30, 30, 0.548);
 }

 .fa-folder:hover{
     color: rgba(26, 25, 25, 0.616);
 }

 i:hover{
     color: rgba(26, 25, 25, 0.616);
 }

/* media query */

@media screen and (min-width:768px) {

    .cards{
    width: calc(100% / 4);
    padding: 5px;
}
    

#small-logo{
    display: none;
}

#full-logo{
    display: flex;
    color: white;
    width: 100px;
    align-items: flex-start;
}

.bar-topset ul li span{
    color: white;
    white-space: nowrap;
    padding: 0 5px;
    display: flex;
}

.bar-bot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bar-bot span{
    color: white;
    display: flex;
    white-space: nowrap;
}

.playlist{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
}

 .fa-plus{
     font-size: 25px;
 }

.player-left{
  width: 15%;
}

 .player-mid{
     font-size: 30px;
     width: 70%;
 }

 .player-right{
     width: 15%;
 }

 .repbarright{
     display: flex;
 }
}

@media screen and (min-width:1200px){

       .cards{
     width: calc(100% / 6);
     padding: 5px;
}
    

#small-logo{
    display: none;
}

#full-logo{
    display: flex;
    color: white;
}

.bar-topset ul li span{
    color: white;
    white-space: nowrap;
    padding: 0 5px;
    display: flex;
}

.bar-bot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bar-bot span{
    color: white;
    display: flex;
    white-space: nowrap;
}

.playlist{
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: center;
}

 .fa-plus{
     font-size: 25px;
 }

.player-left{
  width: 15%;
}

 .player-mid{
     font-size: 30px;
     width: 70%;
 }

 .player-right{
     width: 15%;
 }

 .repbarright{
     display: flex;
 }
 
}
