*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.macrocontain{
     background-color: black;
     display: flex;
     height: calc(100vh - 100px);
}

/* aside */

aside{
    display: flex;
    background-color: black;
}

.bar-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}




.bar-top{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: center;
}

.bar-bot{
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

/* playlist / display none*/

.playlist{
    margin-top: 20px;
    color: white;
    display: none;
}

.playlist li{
    list-style-type: none;
    margin: 10px;
}


/* colors and settings icons*/
.bar-top img{
    filter: invert(1);
    vertical-align: middle;

}

.aside-icon{
    font-size: 15px;
}

.fa-house{
    color: white;
}

.fa-magnifying-glass{
    color: white;
}


.bar-topset ul li span{
    color: white;
    display: none;
}

.bar-top i{
    padding: 5px;
    margin-top: 10px;
}

.fa-bars{
    color: white;
}


.fa-circle-down{
    color: white;
}

.fa-user{
    border: 1px solid rgba(128, 128, 128, 0.301);
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 10px;
    padding: 3px;
    color: white;
    margin-top: 10px;
}

.fa-plus{
    background-color: gray;
}


.bar-bot span{
    color: white;
    display: none;
}

/* header/upgrade */


.container{
 width: 100%;
 display: flex;
 flex-direction: column;
}

header{
    color: white;
    background-color: rgba(51, 50, 50, 0.479);
    position: fixed;
    width: 100%;
    position: relative;
    text-align: right;
}

.upgrade-container{
    padding: 20px;
}

.upgrade-container span{
     border: 1px solid white;
     border-radius: 20px;
     padding: 10px;
}






main{
    overflow-y: auto;
}

/* menunav */

.top-nav{
    color: gray;
    text-align: center;
    padding: 10px;
}

.top-nav span{
    padding: 5px;
}

.bot-nav{
    color: gray;
    text-align: center;
    padding: 10px;
}

.bot-nav span{
    padding: 2px;
}






/* main/cards */
.cards-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.cards{
    width: calc(100% / 2);
    padding: 5px;
}

.cards img{
    width: 100%;
}

.title{
    color: white;
    text-align: center ;
}

.subtitle{
    color: gray;
    text-align: center;
}

/* footer/player */

footer{
    border: 3px solid red;
    height: 100px;
    background-color: rgb(59, 58, 58);
    display: flex;
}

.player-contain

